/target
/.cargo/
.lab/
.venv/
*.rs.bk
.DS_Store
crates/lab-python/python/lab/_native.*
editors/vscode/node_modules/
editors/vscode/out/
editors/vscode/server/
editors/vscode/dist/
editors/vscode/LICENSE
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
